/* Global */

/* Navbar */

/* CategoryFilter */

.fill-container{
  /* width: 80vw; */
  text-align: center;
}

/* .background {
  background-image: url(./components/images/parchment.jpg);
  height: 100%;
  width: 100%;
} */

.background {
  background: url(./components/images/parchment.jpg) no-repeat center center fixed;;
  height: 100%;
  width: 100%;
}
